:root {
    --primaire: #014CE0;
    --accent: #F04903;
    --second: #061BB0;
    --texte: #333;
    --details: #838282;
    --font1: 'Montserrat', sans-serif;
    --font2: 'Outfit', sans-serif;
    --body: 0.9em;
    --header: 2.5em;
    --header2: 1.5em;
    --title: 1.1em;
    --cardBg: #e4ecfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

svg {
    width: 20px;
    height: 20px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left {
    width: 45vw;
    position: relative;
    color: var(--texte);
    display: flex;
    overflow: hidden;
}

.right {
    background: radial-gradient(#014be0c7, #061ab0d8), url('../imgs/contactsBG.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

.bottom {
    padding: 7% 4%;
}

.logo {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
}

.link {
    display: flex;
    gap: 15px;
    transition: .5s ease;
}

.link a {
    color: white;
    font-weight: 500;
}

.login {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 40px;
    transition: .5s ease;
}


form{
    margin: 20px 40px;
    position: relative;
    overflow: hidden;
}
.input-zone{
    display: flex;
    gap: 10px;
}
.input-box{
    position: relative;
    height: 40px;
    width: 100%;
    margin: 10px 0;
}
.input-box label{
    position: absolute;
    left: 3%;
    font-size: var(--body);
    top: 25%;
    z-index: -1;
    transition: .5s ease;
    color: var(--details);
}
.input-box input{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.196);
    outline: none;
    background: transparent;
    padding: 10px 10px;
    border-radius: 10px;
}
.input-box input:focus{
    border-color: var(--primaire);
    color: var(--primaire);
}
.input-box input:focus~label, .input-box input:valid~label{
    transform: translateY(-30px);
    font-size: 0.7em;
    color: var(--primaire);
    padding: 1px 3px;
    background: white;
    z-index: 1;
}
.select-box select{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.27);
}
.select-box label{
    font-size: 0.8em;
}
button{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    transition: .5s ease;
}
.valid{
    background: var(--primaire);
    color: white;
}
.valid:hover{
    background: var(--second);
}

.body{
    font-size: var(--body);
    font-weight: 400;
}
.header{
    font-size: var(--header);
    font-family: var(--font1);
}
.header2{
    font-size: var(--header2);
    font-family: var(--font1);
    font-weight: 500;
}
.title{
    font-size: var(--title);
}
.blue-txt{
    color: var(--primaire);
}
.left h1{
    margin-bottom: 15px;
}
.cliffa{
    display: flex;
    gap: 15px;
    color: white;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background: white;
    transition: .5s ease;
}
.photo img{
    width: 100%;
}
.right .body{
    margin: 15px 0;
    max-width: 60%;
}
.name{
    font-weight: 700;
}
.titre{
    font-size: 0.8em;
}
.cliffa:hover .photo{
    transform: scale(1.3);
}
.back{
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 15px 20px;
    color: white;
    background: var(--primaire);
    border-radius: 50%;
}

.register {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 40px;
    transition: .5s ease;
}
.slides{
    display: flex;
    position: relative;
    transition: .5s ease;
}
.slide{
    min-width: 100%;
}
.btn{
    border-radius: 50%;
    color: var(--primaire);
    background: white;
    padding: 15px 20px;
    border: 1px solid #014be072;
    transition: .5s ease;
}
.btn:hover{
    background: var(--primaire);
    color: white;
}
.toLeft{
    animation: decalG 1.5s forwards;
}
.toRight{
    animation: decalD 1.5s forwards;
}
.hide{
    transform: translateY(50px);
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.hideLog{
    transform: translateY(20px);
    opacity: 0;
}
@keyframes decalG {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-15deg);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes decalD {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: translateX(0);
    }
}