footer{
    background: #21242C;
    color: rgba(255, 255, 255, 0.403);
    font-size: var(--body);
    display: flex;
    padding: 3% 4%;
}
footer a{
    color: rgba(255, 255, 255, 0.403);
    transition: .5s ease;
}
footer a:hover{
    color: white;
}
.footer_part{
    display: flex;
    gap: 25px;
    flex: 1;
}
#right{
    flex-direction: column;
    gap: 15px;
}
.footer_text{
    border-left: 1px solid rgba(255, 255, 255, 0.292);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    gap: 8px;
}
.footer_links ul, .footer_reseaux ul{
    display: flex;
    gap: 15px;
}

.cliffa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cliffa img{
    width: 100%;
}

@media (max-width: 768px) {
    footer{
        flex-direction: column;
        gap: 25px;
        padding: 6% 4%;
    }
}